# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Harookit'
      'submenu': [
        {
          'label': 'Account'
          'submenu': [
            {
              'label': 'Sign In'
              'command': 'harookit:sign-in'
            },
            {
              'label': 'Sign Out'
              'command': 'harookit:sign-out'
            },
            {
              'label': 'Sign Up'
              'command': 'harookit:sign-up'
            }
          ]
        },
        {
          'label': 'Show List Panel'
          'command': 'harookit:list-show'
        },
        {
          'label': 'Toggle List Panel'
          'command': 'harookit:list-toggle'
        },
        {
          'label': 'Toggle Panel Side'
          'command': 'harookit:toggle-side'
        }
      ]
    ]
  }
]
